/*
CSS HEX  
--bright-green: #5aff15ff;
--maya-blue: #7ebce6ff;
--rich-black: #0d1f22ff;
--shamrock-green: #169873ff;
--lavender-web: brak użycia;

https://coolors.co/5aff15-7ebce6-0d1f22-169873-e9e6ff
*/

body {
	/* https://pl.depositphotos.com/21769333/stock-photo-cork-board.html */
	background-image: url("../img/board.png");
	color: white;
	text-align: center;
	font-size: 20px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background-color: #4657f1;
	padding: 1px;
	border-radius: 25px;
}

.header_link {
	text-decoration: none;
	color: black;
}

.header_link:hover {
	text-shadow: -1px 10px 5px rgba(140, 0, 248, 0.718);
}

.container,
.container_login {
	display: flex;
}

.container_login {
	align-items: center;
	justify-content: center;
}

.container_login .main p {
	padding: 10px;
	margin-bottom: -20px;
	margin-top: -10px;
}
.nav {
	/* http://cliparts.co/notepad-clip-art */
	/* http://cliparts.co/cliparts/6cr/yRr/6cryRr6Ei.png */
	background-image: url("../img/note.png");
	min-width: 350px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.main {
	padding: 5px;
	background-color: rgb(0, 0, 0);
	border-radius: 25px;
}

.arrows {
	display: flex;
	justify-content: center;
	align-items: center;
}

.row {
	display: flex;
}

#days {
	display: flex;
	flex-wrap: wrap;
}

.day,
.before {
	width: 9.5vw;
	height: 250px;
	background-color: #bfbfbf;
	border-radius: 5px;
	margin: 5px;
	flex: 1 1 auto;
}

#days {
	max-height: 53vh;
	overflow-y: scroll;
}

.before,
.before .day_name,
.before .day_name .meetings {
	background-color: #0000;
	color: #0000;
}

.options {
	display: none;
	opacity: 0;
}

.option {
	width: 180px;
	height: 50px;
	font-size: 20px;
	margin: 30px 5px;
	background-color: #169873ff;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.option:hover {
	/* https://cssgenerator.org/box-shadow-css-generator.html */
	box-shadow: 3px 1px 4px 2px #5aff15ff;
	-webkit-box-shadow: 3px 1px 4px 2px #5aff15ff;
	-moz-box-shadow: 3px 1px 4px 2px #5aff15ff;
}

.change {
	cursor: pointer;
	margin-left: 5px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-top: 15px;
}

.profile {
	display: block;
}

.profile:hover {
	opacity: 0.9;
}

.profile:active {
	transform: scale(0.95);
}

.profile_img {
	width: 75px;
	height: 75px;
}

.footer {
	/* https://clipground.com/images/pencil-clipart-1.png */
	background-image: url("../img/pencil.png");
	background-repeat: no-repeat;
	height: 100px;
	background-position: center center;
	color: #1b00ff;
	padding-top: 25px;
	font-size: 20px;
}

.footer a {
	color: #1b00ff;
	text-decoration: none;
}

.footer a:hover {
	color: red;
}

/* https://devsdash.com/tools/css-button-generator */
a.ar,
a.al {
	cursor: pointer;
	background-color: #bbbbbb;
	padding: 10px 10px;
	border: 0px solid #000;
	border-radius: 10px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
a.ar span,
a.al span {
	display: block;
	width: 35px;
	height: 35px;
	background-image: url("../img/ar.png");
	background-repeat: no-repeat;
	background-size: contain;
}

a.al span {
	background-image: url("../img/al.png");
}
a.ar:hover,
a.al:hover {
	background-color: #919191;
}
a.ar:active,
a.al:active {
	transform: scale(0.95);
}

.day_name,
.day_name_weekend {
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	background-color: #4657f1;
	padding: 2px;
	font-size: 20px;
}

.day_name_weekend {
	background-color: red;
}

.meeting,
.meeting_b {
	font-size: 17px;
	padding: 1px;
	background-color: green;
	margin: 3px;
	border-radius: 5px;
}

.meeting_details {
	text-decoration: none;
	display: block;
	color: white;
}

.meeting_details div:hover {
	background-color: lime;
}

.meeting_b {
	background-color: #0000;
}

.login_form {
	padding-left: 20px;
	padding-right: 20px;
	/* min-height: 55vh; */
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="date"] {
	margin: 10px;
	font-size: 20px;
}

.search_icon {
	width: 20%;
	padding: 10px;
	background: #2196f3;
	color: white;
	font-size: 20px;
	border: 1px solid grey;
	cursor: pointer;
}

.search_icon:hover {
	background: #0b7dda;
}

.friends {
	display: flex;
	width: 72vw;
	justify-content: space-around;
}

.friend_profile {
	width: 50px;
	height: 50px;
	margin-left: 5px;
}

.my_friend {
	margin-top: 10px;
	margin-bottom: 10px;
}

.my_friend_p {
	display: flex;
	justify-content: center;
	align-items: center;
}

.friends_list,
.users {
	max-height: 37vh;
	padding: 10px;
}

.friends_req {
	margin-left: 10px;
	margin-right: 10px;
}

.friends_tab,
.meeting_edit_tab {
	padding: 5px;
	margin: 5px;
	max-height: 50vh;
}

.friends_tab {
	min-width: 33.5vw;
}

/* .meeting_edit_tab {
	min-width: 50vw;
} */

.meetings_n {
	display: flex;
	justify-content: space-evenly;
	width: 71.5vw;
	flex-wrap: wrap;
	max-height: 52vh;
}

.meeting_n {
	flex: 0 0 25%;
	margin-top: 5px;
	margin-bottom: 5px;
}

.profile_tabs {
	min-width: 72vw;
	display: flex;
	justify-content: space-around;
}

.profile_tabs *,
.friends *,
.meetings_n * {
	background-color: #f1f1f1;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.profile_fl {
	margin-left: 10px;
	margin-right: 10px;
}
.profile_am {
	text-align: center;
}

.friedns_req {
	margin-left: 30px;
	margin-right: 30px;
}

.meeting_about {
	min-width: 60vh;
}
